html{
    height: 100% !important;
    background-color: #000051;
}

.App {
    font-family: 'Lato', sans-serif;
    background-color: #000051;
    padding:5%;
    color: white;
    display: block;
    margin: 0 auto;
    position: relative;
    margin-bottom: 5%;
}

@media (max-width: 1000px) {
    .contactListView {
        display: block;
        margin: 0 auto;
        position: relative;
        margin-top:60px;
        max-width: 400px;
        max-height: 800px;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }
    .contactViewDetail {
        background-color: #fefefe;
        color: black;
        max-width: 250px;
        position: relative;
        left: 70%;
        top:-655px;
      
    }
    .contactName {
        text-transform: capitalize;
        font-size: 1em;
        justify-content: flex-start;
        position: relative;
        top: -100px;
    }
    
    .titleInList {
        text-transform: capitalize;
        position: relative;
        font-size: 0.5em;
        color: blue;
        top: -90px;
        left: 50px
    }
    .addContact{
        margin: 0 auto;
        max-width:250px ;
        width: 100%;
    }
    .addContactBtn {
        width:100%;
    }
}
@media (max-width: 770px) {
    .contactListView {
        display: block;
        margin: 0 auto;
        position: fixed;
        margin-top:60px;
        max-width: 600px;
        max-height: 800px;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }
    .contactViewDetail {
        display: none;
    }
    .addContact{
        margin: 0 auto;
        max-width:250px ;
        width: 100%;
    }
    .addContactBtn {
        width:100%;
    }
}
.contactListView {
    display: block;
    margin: 0 auto;
    position: relative;
    margin-top:60px;
    width: 500px;
    max-height: 800px;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}
.filePreviewDetail {
    width: 200px !important;
    height: 200px !important;
    border: 0.5px solid #880e4f;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-left:10% !important;
    border-radius: 50%;
    background-position:50% 50%;
}

.contactDetailView{
    background-color: #fefefe;
    color: black;
    max-width: 400px;
    position: absolute;
    left: 70%;
    top:180px;
  
}

.contactWrap {
    width: 100%;
    padding: 30px;
    height: 600px;
    text-align: center;
}
.street{
    text-align: center;
}
.city{
    text-align: center;
}
.zipCodeAndProvince {
    text-align: center;
}
.buttonHolders {
    margin-top: 20px;
    text-align: center;
}
.address {
    text-align: center
}
.detailViewBtn {
    background-color: #880e4f;
    color: white;
    padding: 10px;
    margin: 10px;
    border: 0.5px solid #880e4f;

}
.name {
    text-transform: capitalize;
    text-align: center;
}
.address {
    text-align: left;
}
.title {
    text-transform: capitalize;
    text-align: center;
    color: blue;
}
.header {
   display: block;
   margin: 0 auto;
   font-size: 3em;
   float: left; 
   width: 100%;
   margin-bottom: 30px

}

.searchField {
    outline: 0;
    border-width: 0 0 2px 0;
    border-color: transparent;
    background-color: #000051;
    color: white;
    text-align: left
}
.searchField:focus {
    color: #880e4f
}

#react-confirm-alert-firm-svg {
    display: none !important
}

.react-confirm-alert-overlay {
    background: rgba(0,0,0, 0.8);
}
.addContactBtn {
    width:100%;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6em !important;
    border: 2px solid #880e4f;
    background-color:#880e4f;
    color: white;
}
.addContact{
    margin: 0 auto;
    max-width:500px ;
    width: 100%;
}
.contactBreak {
   margin-top: 5px;
   
}
select {
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;       
    background-image: url(assets/dropdownArrow.png) !important;
    background-repeat: no-repeat  ;
    background-position: 95%;
}
.submitBtn {
    background: #880e4f !important;
    border: 2px solid #880e4f !important;
    border-color: #880e4f ;
    border-radius: 20px;
    justify-content: flex-start;
    width: 150px;
    color: white !important;
    font-weight: normal
}
.contactFile {
    background-color: #fefefe;
    color: black;
    position: relative;
    width: 100%;
    height: 100px;
    display: block;
    margin: 0 auto;
    border: 1px solid #000051 !important;
    padding: 30px;
    border: 2px solid white;

}
.contactFile:hover {
    background-color:#f5f5f5;
}

.profilePic {
    position: relative;
    top: -25px;
    left: 10px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-position: -10px 0px;
    background-size: cover;
    border: 2px solid #880e4f
}

.contactName {
    text-transform: capitalize;
    font-size: 1.6em;
    justify-content: flex-start;
    position: relative;
    top: -100px;
    left: 200px 
}

.titleInList {
    text-transform: capitalize;
    position: relative;
    font-size: 1.2em;
    color: blue;
    top: -90px;
    left: 200px
}
